extends component/_layout

block title
  meta(name='description', content='みんなの説明会（みんせつ）は、2,300社以上の決算説明会情報を検索できる上場企業IR担当者、機関投資家・証券会社向けの決算説明会情報サイトです。')
  meta(name='author', content='みんなの説明会（みんせつ）')
  title 会社概要 | みんなの説明会（みんせつ）

block container
  #mainVisual
    h1
      picture
        source(srcset="/company/asset/image/1-1_copy-japanese_sp.svg", media="(max-width: 576px)")
        source(srcset="/company/asset/image/1-1_copy-japanese.svg", media="(min-width: 577px)")
        img#copyJapanese.copy.copy-jp(src="/company/asset/image/1-1_copy-japanese.svg")
      picture
        source(srcset="/company/asset/image/1-2_copy-english_sp.svg", media="(max-width: 576px)")
        source(srcset="/company/asset/image/1-2_copy-english.svg", media="(min-width: 577px)")
        img#copyEnglish.copy.copy-en(src="/company/asset/image/1-2_copy-english.svg")
    nav#globalNav.g-nav
      .g-nav-list
        .container
          ul.row
            li.g-nav-btn.col-xs-3.col-xl-3: a.hv(href="#companyCEO")
              picture
                source(srcset="/company/asset/image/icon_CEO_sp.svg", media="(max-width: 576px)")
                source(srcset="/company/asset/image/icon_CEO.svg", media="(min-width: 577px)")
                img.w-150.h-150(src="/company/asset/image/icon_CEO.svg")
              //- img.w-150.h-150(src="/company/asset/image/icon_CEO.svg")
            li.g-nav-btn.col-xs-3.col-xl-3: a.hv(href="#companyMission")
              picture
                source(srcset="/company/asset/image/icon_mission_sp.svg", media="(max-width: 576px)")
                source(srcset="/company/asset/image/icon_mission.svg", media="(min-width: 577px)")
                img.w-150.h-150(src="/company/asset/image/icon_mission.svg")

            li.g-nav-btn.col-xs-3.col-xl-3: a.hv(href="#companyMember")
              picture
                source(srcset="/company/asset/image/icon_member_sp.svg", media="(max-width: 576px)")
                source(srcset="/company/asset/image/icon_member.svg", media="(min-width: 577px)")
                img.w-150.h-150(src="/company/asset/image/icon_member.svg")

            li.g-nav-btn.col-xs-3.col-xl-3: a.hv(href="#companyData")
              picture
                source(srcset="/company/asset/image/icon_kaisha-gaiyou_sp.svg", media="(max-width: 576px)")
                source(srcset="/company/asset/image/icon_kaisha-gaiyou.svg", media="(min-width: 577px)")
                img.w-150.h-150(src="/company/asset/image/icon_kaisha-gaiyou.svg")


  #companyCEO
    h2 CEO挨拶
    .bg-white.pb-60
      .container
        .row
          .col-xs-12.col-xl-12
            .col-xs-12.col-md-6
              figure
                picture
                  source(srcset="/company/asset/image/ceo-aisatsu_sp.jpg", media="(max-width: 767px)")
                  source(srcset="/company/asset/image/ceo-aisatsu_2x.jpg 2x", media="(min-width: 768px)")
                  source(srcset="/company/asset/image/ceo-aisatsu.jpg", media="(min-width: 768px)")
                  img.img-fluid.w-100(src="/company/asset/image/ceo-aisatsu.jpg")
                figcaption.caption-ceo.pt-1em.text-md-left.text-xs-center
                  span.ls-2 代表取締役CEO
                  h3.ceo-name.ls-5
                    | 中安祐貴<br>
                    small.ceo-name-english.ls-1 Yuki Nakayasu

            .col-xs-12.col-md-6.float-xs-right.company-story
              p 私は2006年から10年間、証券会社のインターネット・中小型担当アナリストとして多くの企業を調査・分析してきました。
              p その中で、みんせつを創業するに至った大きな転機がアナリスト9年目に訪れました。インフォマートをはじめてカバレッジした時のことです。
              p インフォマートは、法人向けに受発注・請求書プラットフォームを提供する企業で、当時の時価総額は300億円ほどでした。私は同社のビジネスモデルに興味を持ち、調査を進めれば進めるほど、同社の社会的意義の大きさ、参入障壁の高さを身にしみて感じました。
              p この企業は必ず大きくなる！
              p 当時の資本市場では、まだほとんどの投資家が同社の存在すら知らず、証券会社のアナリストもカバーしていませんでしたが、私は産業分析レポートの発行と共に、同社のカバレッジを開始しました。レポート発行だけではなく、同社の村上社長をスピーカーに迎えたセミナーを開催したり、海外投資家とのIRミーティングを企画したりと、国内外の投資家に広く知ってもらう機会を提供しました。
              p 結果、時価総額は700億円まで上がり、同社が実業界だけでなく、資本市場でも存在感を確固たるものにするきっかけを作ることができました。当時の投資家からは「良い企業を教えてくれてありがとう」と、村上社長・藤田常務を始め同社員の方々からも「新しい投資家と出会うきっかけをありがとう」と言われ、私のアナリスト人生の中で最も喜びを感じる出来事となりました。
              p このような、「良い企業を投資家に知ってもらうことによって双方の絆が強くなり幸せになる」出来事を世の中にもっと生み出していきたいと考えるようになり、2015年「株式会社みんせつ」を創業しました。
              p 約1年の企画・構想を経て、2016年4月に、機関投資家・アナリスト向け決算説明会情報サイト「みんなの説明会」をリリースしました。これまで情報が一元化されていなかった決算説明会の日程を収集、提供しています（掲載社数: 2,300社以上）。投資家・アナリストからは「説明会に行く機会が増えた」、企業からは「説明会の参加者が増えてきている」との声を頂戴しております。
              p 今後も株式会社みんせつは、夢と技術を兼ね揃えたメンバーと共に、企業・投資家に喜ばれるサービスを提供し、「企業と投資家の強い絆を生み出す」会社として成長していきます。

            .col-xs-12.col-md-6
                p.ceo-profile.pt-1.bt-gray.
                  なかやす・ゆうき　UBS証券、クレディ・スイス証券にてアナリストとしてインターネットや中小型・ITサービス・ゲーム等のセクターを調査。産業分析・個別企業の財務分析と同時に、国内外の機関投資家に株式投資の判断材料を提供。2015年Institutional Investor誌アナリストランキング5位（Internet部門）。2015年6月、クレディ・スイス証券を退職。同年6月株式会社みんせつを創業、代表取締役社長に就任。2006年に京都大学大学院工学研究科修士課程を修了。

  #companyMission
    h2 みんせつのミッション
    .bg-white.pt-60.pb-60
      .container
        .row
          .col-xs-12.col-xl-12
            .mission-1.col-xs-12.col-md-6
              picture
                source(srcset="/company/asset/image/3-1_mission_line_sp.svg" media="(max-width: 576px)")
                source(srcset="/company/asset/image/3-1_mission_line.svg" media="(min-width: 577px)")
                img(src="/company/asset/image/3-1_mission_line.svg")
              h3.mt-10.mb-10 <span class="wr">投資家へワクワクする</span><span class="wr">投資機会の創出</span>
              p.
                「株式投資の極意とは、いい銘柄を見つけて、いいタイミングで買い、
                いい会社である限りそれを持ち続けること。これに尽きます。」
                というウォーレンバフェットの言葉があります。<br>
                心から応援したい企業に出会う頻度は決して高くありません。
                だからこそ、発掘した時のワクワク・ドキドキする体験は一生忘れません。<br>
                みんせつは、投資家にとって、中長期で期待を上回る収益性を目指した
                「心から応援したい企業との出会い」を創出します。
            .mission-2.col-xs-12.col-md-6
              picture
                source(srcset="/company/asset/image/3-2_mission_line_sp.svg" media="(max-width: 576px)")
                source(srcset="/company/asset/image/3-2_mission_line.svg" media="(min-width: 577px)")
                img(src="/company/asset/image/3-2_mission_line.svg")
              h3.mt-10.mb-10 <span class="wr">企業へ新しく</span><span class="wr">投資される機会の創出</span>
              p.
                持続的な企業価値創造は、企業と投資家による協創によって実現されます。
                協創には、相互の利害関係を理解しあった上での質の高い対話・エンゲージメントが必要です。<br>
                みんせつは、企業の中長期を見据えた経営戦略を投資家と対話・共有できる場を提供することで、
                売り買いされるのではなく、「本質的に投資される機会」を創出します。
          .mt-40.col-xs-12
            .col-xs-12
              img(src="/company/asset/image/mission.svg")
  #companyMember
    h2 メンバー
    .bg-white.pt-60.pb-60
      .container.itz-zoom
        ul.member-list.people.itz-zoom-content
          li#pos1.person(data-enllax-ratio=".2", data-enllax-type="foreground")
            a.people-anchor(href='#pos1') 濱本富士子
            img.front(src='/company/asset/image/161029_B_0367_kiri.png')
            img.back(src='/company/asset/image/161029_B_0367_kiri_bw.png')
            .detail.right-pane
              h1 濱本富士子
              .prof デザイナー
              p.prof-small.
                多摩美術大学卒業後、株式会社Beachにデザイナーとして加わる。月刊誌のエディトリアルデザインや
                企業のプロモーションムービーなどを担当。株式会社みんせつではデザインとモーションデザインを担当。
              //ul.acc
              //  li.acc-icon.acc-fb
              //    a(href='#facebook') Facebook
              //  li.acc-icon.acc-tw
              //    a(href='#twitter') Twitter
          li#pos2.person(data-enllax-ratio=".25", data-enllax-type="foreground")
            a.people-anchor(href='#pos2') 浜名信次
            img.front(src='/company/asset/image/161029_B_0343_kiri.png')
            img.back(src='/company/asset/image/161029_B_0343_kiri_bw.png')
            .detail.right-pane
              h1 浜名信次
              .prof アートディレクター
              p.prof-small.
                東京のデザイン事務所を経て、2011年に株式会社Beach設立。
                グラフィックデザインをはじめ、WEBやアプリのデザイン、モーショングラフィックスの映像演出など、幅広く活動。
                株式会社みんせつへは創業当初からアートディレクターとして参画。
              //ul.acc
              //  li.acc-icon.acc-fb
              //    a(href='#facebook') Facebook
              //  li.acc-icon.acc-tw
              //    a(href='#twitter') Twitter
          li#pos3.person(data-enllax-ratio=".15", data-enllax-type="foreground")
            a.people-anchor(href='#pos3') 玉岡 剛
            img.front(src='/company/asset/image/161029_B_0086_kiti.png')
            img.back(src='/company/asset/image/161029_B_0086_kiti_bw.png')
            .detail.right-pane
              h1 玉岡 剛
              .prof 取締役 CFO
              p.prof-small.
                京都大学大学院人間・環境学研究科博士課程在学中に独立系シンクタンクの設立に参画し、
                その後プライベート・エクイティ・ファームを設立。成熟期の企業成長や衰退期の企業再生に数多く関わり、
                主にハンズオン型のエクイティ投資が得意。現在も複数の企業再生に携わり企業価値向上に寄与。
                代表の中安の熱すぎるビジョンに共感し、2015年6月株式会社みんせつを共同創業。
              //ul.acc
              //  li.acc-icon.acc-fb
              //    a(href='#facebook') Facebook
              //  li.acc-icon.acc-tw
              //    a(href='#twitter') Twitter
          li#pos4.person(data-enllax-ratio=".2", data-enllax-type="foreground")
            a.people-anchor(href='#pos4') 中安祐貴
            img.front(src='/company/asset/image/161029_B_0148_kiri.png')
            img.back(src='/company/asset/image/161029_B_0148_kiri_bw.png')
            .detail.right-pane
              h1 中安祐貴
              .prof 代表取締役 CEO
              p.prof-small.
                京都大学大学院工学研究科修士卒業。UBS証券、クレディ・スイス証券の株式調査部にて、
                アナリストとしてインターネットや中小型・ITサービス・ゲーム等のセクターを調査。
                産業分析・個別企業の財務分析と同時に、国内外の機関投資家に株式投資の判断材料を提供。
                2015年Institutional Investor誌アナリストランキング5位（Internet部門）。
                従来の証券アナリストの枠を超えて幅広く投資家と企業のリレーションシップを構築し、資本市場に貢献するため、
                2015年6月に株式会社みんせつを創業。
              //ul.acc
              //  li.acc-icon.acc-fb
              //    a(href='#facebook') Facebook
              //  li.acc-icon.acc-tw
              //    a(href='#twitter') Twitter
          li#pos5.person(data-enllax-ratio=".1", data-enllax-type="foreground")
            a.people-anchor(href='#pos5') 塚田翔也
            img.front(src='/company/asset/image/161029_B_0224_kiri.png')
            img.back(src='/company/asset/image/161029_B_0224_kiri_bw.png')
            .detail.left-pane
              h1 塚田翔也
              .prof 取締役 CTO
              p.prof-small.
                大手SIer、フリーランス、2008年下期未踏、勉強会コミュニティ活動、特に名古屋でAndroid勉強会を運営し、
                雑誌寄稿、Android開発者向けの書籍を計3冊執筆するなど幅広く活動。
                2010年に入社した株式会社エイチームでは、生活系アプリの新規事業の立ち上げに従事し、シリーズ累計1,000万ダウンロードを達成。
                また、同社のマザーズ上場・史上最速（当時）での東証一部への鞍替えに当たり、チーム体制構築や組織マネジメント等にも携わる。
                最近では1年間、台北でAR系スタートアップのCTOとして従事。帰国後、代表の中安のビジョンに心打たれ、株式会社みんせつに参画。
              //ul.acc
              //  li.acc-icon.acc-fb
              //    a(href='#facebook') Facebook
              //  li.acc-icon.acc-tw
              //    a(href='#twitter') Twitter
          li#pos6.person(data-enllax-ratio=".2", data-enllax-type="foreground")
            a.people-anchor(href='#pos6') 宮下 修
            img.front(src='/company/asset/image/161029_B_0197_kiri.png')
            img.back(src='/company/asset/image/161029_B_0197_kiri_bw.png')
            .detail.left-pane
              h1 宮下 修
              .prof アナリスト担当顧問
              p.prof-small.
                早稲田大学政治経済学部卒業。英Cass Business SchoolファイナンスMBA、独コンスタンツ大学経済統計学部修士。
                CFA協会認定証券アナリスト。野村総合研究所、スターンスチュワート、メリルリンチ日本証券、AIGグループにて、
                資本市場規制、コーポレート・ガバナンス調査、EVA経営システム導入、投資銀行業務、IRアドバイス、
                リスクマネジメント商品開発営業等に従事。
                2009年にIRコンサルティング会社ジェイ・フェニックス・リサーチ株式会社の代表取締役に就任。
                2016年9月より株式会社みんせつIR顧問に就任。
              //ul.acc
              //  li.acc-icon.acc-fb
              //    a(href='#facebook') Facebook
              //  li.acc-icon.acc-tw
              //    a(href='#twitter') Twitter
          li#pos7.person(data-enllax-ratio=".35", data-enllax-type="foreground")
            a.people-anchor(href='#pos7') 石井弘之
            img.front(src='/company/asset/image/161029_B_0108_kiri.png')
            img.back(src='/company/asset/image/161029_B_0108_kiri_bw.png')
            .detail.left-pane
              h1 石井弘之
              .prof マーケティング担当顧問
              p.prof-small.
                横浜市立大学文理学部国際関係学科卒業。野村證券、メリルリンチ日本証券、クレディ・スイス証券にて、
                エクイティ関連業務とIRアドバイザリー業務に従事。2003年にジェイ・フェニックス・リサーチ株式会社を設立、
                多くの上場企業IR業務の立ち上げと発展に貢献。2008年に独立系ESGリサーチ会社ECPI社（本社ミラノ）の
                日本代表としてESG格付の国内導入に尽力。2015年に株式会社オプトベンチャーズ取締役としてオプトグループ１号
                となるベンチャーファンドの組成に携わる。2016年9月より株式会社みんせつIR顧問に就任。
              //ul.acc
              //  li.acc-icon.acc-fb
              //    a(href='#facebook') Facebook
              //  li.acc-icon.acc-tw
              //    a(href='#twitter') Twitter
          li#pos8.person(data-enllax-ratio=".3", data-enllax-type="foreground")
            a.people-anchor(href='#pos8') 伊藤功馬
            img.front(src='/company/asset/image/161029_B_0050_kiri.png')
            img.back(src='/company/asset/image/161029_B_0050_kiri_bw.png')
            .detail.right-pane
              h1 伊藤功馬
              .prof エンジニア
              p.prof-small.
                名古屋市立大学経済学部卒業。大学在学中からWeb開発会社にて経験を積みながら、友人と写真共有アプリのスタートアップをする。
                この時にフロントエンド・サーバサイド・インフラ・ネイティブアプリの全てを担当し、フルスタックエンジニアになる。
                大学卒業後は、より経験を積むためそのまま入社し、多数の受託開発、自社サービスの地域情報アプリ、AR（拡張現実）を
                テーマにしたBtoBtoCサービスの設計・開発に従事。この間もiOS, Android, PHP, Ruby, Rails, AWS, Go, API設計など
                時代に合わせた技術を着々と吸収しフルスタックエンジニアとして輝きを増す。
                台北でも一緒に住んでいたCTOの塚田に口説かれて株式会社みんせつにJoin!
        ul.sp-member-list.visible-xs.visible-sm
          li.sp-member-item.clearfix
            .img-holder
              img.front(src='/company/asset/image/sp/image_nakayasu.jpg')
            .text-holder
              h1 中安祐貴
              .prof
                p
                  | 代表取締役 CEO。京都大学大学院工学研究科修士卒業。UBS証券、クレディ・スイス証券の株式調査部にて、
                  | アナリストとしてインターネットや中小型・ITサービス・ゲーム等のセクターを調査。
                p#nakayasuHiroki.accordion
                  | 産業分析・個別企業の財務分析と同時に、国内外の機関投資家に株式投資の判断材料を提供。
                  | 2015年Institutional Investor誌アナリストランキング5位（Internet部門）。
                  | 従来の証券アナリストの枠を超えて幅広く投資家と企業のリレーションシップを構築し、資本市場に貢献するため、
                  | 2015年6月に株式会社みんせつを創業。
              .more-btn-holder
                a.more-btn(href="#nakayasuHiroki") もっと読む
          li.sp-member-item.clearfix
            .img-holder
              img.front(src='/company/asset/image/sp/image_tamaoka.jpg')
            .text-holder
              h1 玉岡 剛
              .prof
                p
                  | 取締役 CFO。京都大学大学院人間・環境学研究科博士課程在学中に独立系シンクタンクの設立に参画し、
                  | その後プライベート・エクイティ・ファームを設立。主にハンズオン型のエクイティ投資が得意。
                p#tamaokaTsuyoshi.accordion
                  | 現在も複数の企業再生に携わり企業価値向上に寄与。
                  | 代表の中安の熱すぎるビジョンに共感し、2015年6月株式会社みんせつを共同創業。
              .more-btn-holder
                a.more-btn(href="#tamaokaTsuyoshi") もっと読む
          li.sp-member-item.clearfix
            .img-holder
              img.front(src='/company/asset/image/sp/image_tsukada.jpg')
            .text-holder
              h1 塚田翔也
              .prof
                p
                  | 取締役 CTO。大手SIer、フリーランス、2008年下期未踏、勉強会コミュニティ活動、特に名古屋でAndroid勉強会を運営し、
                  | 雑誌寄稿、Android開発者向けの書籍を計3冊執筆するなど幅広く活動。
                p#tsukadaSyouya.accordion
                  | 2010年に入社した株式会社エイチームでは、生活系アプリの新規事業の立ち上げに従事し、シリーズ累計1,000万ダウンロードを達成。
                  | また、同社のマザーズ上場・史上最速（当時）での東証一部への鞍替えに当たり、チーム体制構築や組織マネジメント等にも携わる。
                  | 最近では1年間、台北でAR系スタートアップのCTOとして従事。帰国後、代表の中安のビジョンに心打たれ、株式会社みんせつに参画。
              .more-btn-holder
                a.more-btn(href="#tsukadaSyouya") もっと読む
          li.sp-member-item.clearfix
            .img-holder
              img.front(src='/company/asset/image/sp/image_miyashita.jpg')
            .text-holder
              h1 宮下 修
              .prof
                p
                  | アナリスト担当顧問。早稲田大学政治経済学部卒業。英Cass Business SchoolファイナンスMBA、独コンスタンツ大学経済統計学部修士。
                p#miyashitaOsamu.accordion
                  | CFA協会認定証券アナリスト。野村総合研究所、スターンスチュワート、メリルリンチ日本証券、AIGグループにて、
                  | 資本市場規制、コーポレート・ガバナンス調査、EVA経営システム導入、投資銀行業務、IRアドバイス、
                  | リスクマネジメント商品開発営業等に従事。
                  | 2009年にIRコンサルティング会社ジェイ・フェニックス・リサーチ株式会社の代表取締役に就任。
                  | 2016年9月より株式会社みんせつIR顧問に就任。
              .more-btn-holder
                a.more-btn(href="#miyashitaOsamu") もっと読む
          li.sp-member-item.clearfix
            .img-holder
              img.front(src='/company/asset/image/sp/image_ishii.jpg')
            .text-holder
              h1 石井弘之
              .prof
                p
                  | マーケティング担当顧問。横浜市立大学文理学部国際関係学科卒業。野村證券、メリルリンチ日本証券、クレディ・スイス証券にて、
                  | エクイティ関連業務とIRアドバイザリー業務に従事。
                p#ishiJiroyuki.accordion
                  | 多くの上場企業IR業務の立ち上げと発展に貢献。2008年に独立系ESGリサーチ会社ECPI社（本社ミラノ）の
                  | 日本代表としてESG格付の国内導入に尽力。2015年に株式会社オプトベンチャーズ取締役としてオプトグループ１号
                  | となるベンチャーファンドの組成に携わる。2016年9月より株式会社みんせつIR顧問に就任。
              .more-btn-holder
                a.more-btn(href="#ishiJiroyuki") もっと読む
          li.sp-member-item.clearfix
            .img-holder
              img.front(src='/company/asset/image/sp/image_katsuma.jpg')
            .text-holder
              h1 伊藤功馬
              .prof
                p
                  | エンジニア。名古屋市立大学経済学部卒業。大学在学中からWeb開発会社にて経験を積みながら、友人と写真共有アプリのスタートアップをする。
                  | この時にフロントエンド・サーバサイド・インフラ・ネイティブアプリの全てを担当し、フルスタックエンジニアになる。
                p#itoKoma.accordion
                  | 大学卒業後は、より経験を積むためそのまま入社し、多数の受託開発、自社サービスの地域情報アプリ、AR（拡張現実）を
                  | テーマにしたBtoBtoCサービスの設計・開発に従事。この間もiOS, Android, PHP, Ruby, Rails, AWS, Go, API設計など
                  | 時代に合わせた技術を着々と吸収しフルスタックエンジニアとして輝きを増す。
                  | 台北でも一緒に住んでいたCTOの塚田に口説かれて株式会社みんせつにJoin!
              .more-btn-holder
                a.more-btn(href="#itoKoma") もっと読む
          li.sp-member-item.clearfix
            .img-holder
              img.front(src='/company/asset/image/sp/image_hamana.jpg')
            .text-holder
              h1 浜名信次
              .prof
                p
                  | アートディレクター。東京のデザイン事務所を経て、2011年に株式会社Beach設立。グラフィックデザインをはじめ、WEBやアプリのデザイン、モーショングラフィックスの映像演出など、幅広く活動。
                p#hamanaShinji.accordion
                  | 株式会社みんせつへは創業当初からアートディレクターとして参画。
              .more-btn-holder
                a.more-btn(href="#hamanaShinji") もっと読む
          li.sp-member-item.clearfix
            .img-holder
              img.front(src='/company/asset/image/sp/image_hamamoto.jpg')
            .text-holder
              h1 濱本富士子
              .prof
                p
                  | デザイナー。多摩美術大学卒業後、株式会社Beachにデザイナーとして加わる。月刊誌のエディトリアルデザインや企業のプロモーションムービーなどを担当。
                p#hamamotoHujiko.accordion
                  | 株式会社みんせつではデザインとモーションデザインを担当。
              .more-btn-holder
                a.more-btn(href="#hamamotoHujiko") もっと読む


  .video(data-srcmp4="/company/asset/image/bg.mp4", data-srcimg="/company/asset/image/bg.jpg")