extends component/_layout

block title
  title 株式会社みんせつ

block container
  #mainVisual
    h1
      picture
        source(srcset="asset/image/1-1_copy-japanese_sp.svg", media="(max-width: 576px)")
        source(srcset="asset/image/1-1_copy-japanese.svg", media="(min-width: 575px)")        
        img#copyJapanese.copy.copy-jp(src="asset/image/1-1_copy-japanese.svg")
      picture
        source(srcset="asset/image/1-2_copy-english_sp.svg", media="(max-width: 576px)")
        source(srcset="asset/image/1-2_copy-english.svg", media="(min-width: 575px)")        
        img#copyEnglish.copy.copy-en(src="asset/image/1-2_copy-english.svg")
    nav#globalNav.g-nav
      .g-nav-list
        .container
          ul.row
            li.g-nav-btn.col-xs-3.col-xl-3: a.hv(href="#companyCEO")
              picture
                source(srcset="asset/image/icon_CEO_sp.svg", media="(max-width: 576px)")
                source(srcset="asset/image/icon_CEO.svg", media="(min-width: 575px)")        
                img.w-150.h-150(src="asset/image/icon_CEO.svg")
              //- img.w-150.h-150(src="asset/image/icon_CEO.svg")
            li.g-nav-btn.col-xs-3.col-xl-3: a.hv(href="#companyMission")            
              picture
                source(srcset="asset/image/icon_mission_sp.svg", media="(max-width: 576px)")
                source(srcset="asset/image/icon_mission.svg", media="(min-width: 575px)")        
                img.w-150.h-150(src="asset/image/icon_mission.svg")

            li.g-nav-btn.col-xs-3.col-xl-3: a.hv(href="#companyMember")
              picture
                source(srcset="asset/image/icon_member_sp.svg", media="(max-width: 576px)")
                source(srcset="asset/image/icon_member.svg", media="(min-width: 575px)")        
                img.w-150.h-150(src="asset/image/icon_member.svg")

            li.g-nav-btn.col-xs-3.col-xl-3: a.hv(href="#companyData")
              picture
                source(srcset="asset/image/icon_kaisha-gaiyou_sp.svg", media="(max-width: 576px)")
                source(srcset="asset/image/icon_kaisha-gaiyou.svg", media="(min-width: 575px)")        
                img.w-150.h-150(src="asset/image/icon_kaisha-gaiyou.svg")


  #companyCEO
    h2 CEO挨拶
    .bg-white.pb-60
      .container
        .row
          .col-xs-12.col-xl-12
            .col-xs-12.col-xl-6
              figure
                picture
                  source(srcset="asset/image/ceo-aisatsu_sp.jpg", media="(max-width: 576px)")
                  source(srcset="asset/image/ceo-aisatsu_2x.jpg 2x", media="(min-width: 575px)")        
                  source(srcset="asset/image/ceo-aisatsu.jpg", media="(min-width: 575px)")        
                  img.img-fluid.w-100(src="asset/image/ceo-aisatsu.jpg")
                figcaption.caption-ceo.pt-1em.text-xl-left.text-xs-center
                  span.ls-2 代表取締役CEO
                  h3.ceo-name.ls-5
                    | 中安祐貴<br>
                    small.ceo-name-english.ls-1 Yuki Nakayasu
            
            .col-xs-12.col-xl-6.float-xs-right.company-story
              p 私は2006年から10年間、証券会社のインターネット・中小型担当アナリストとして多くの企業を調査・分析してきました。
              p その中で、みんせつを創業するに至った大きな転機がアナリスト9年目に訪れました。インフォマートをはじめてカバレッジした時のことです。
              p インフォマートは、法人向けに受発注・請求書プラットフォームを提供する企業で、当時の時価総額は300億円ほどでした。私は同社のビジネスモデルに興味を持ち、調査を進めれば進めるほど、同社の社会的意義の大きさ、参入障壁の高さを身にしみて感じました。
              p この企業は必ず大きくなる！
              p 当時の資本市場では、まだほとんどの投資家が同社の存在すら知らず、証券会社のアナリストもカバーしていませんでしたが、私は産業分析レポートの発行と共に、同社のカバレッジを開始しました。レポート発行だけではなく、同社の村上社長をスピーカーに迎えたセミナーを開催したり、海外投資家とのIRミーティングを企画したりと、国内外の投資家に広く知ってもらう機会を提供しました。
              p 結果、時価総額は700億円まで上がり、同社が実業界だけでなく、資本市場でも存在感を確固たるものにするきっかけを作ることができました。当時の投資家からは「良い企業を教えてくれてありがとう」と、村上社長・藤田常務を始め同社員の方々からも「新しい投資家と出会うきっかけをありがとう」と言われ、私のアナリスト人生の中で最も喜びを感じる出来事となりました。
              p このような、「良い企業を投資家に知ってもらうことによって双方の絆が強くなり幸せになる」出来事を世の中にもっと生み出していきたいと考えるようになり、2015年「株式会社みんせつ」を創業しました。
              p 約1年の企画・構想を経て、2016年4月に、機関投資家・アナリスト向け決算説明会情報サイト「みんなの説明会」をリリースしました。これまで情報が一元化されていなかった決算説明会の日程を収集、提供しています（掲載社数: 2,300社以上）。投資家・アナリストからは「説明会に行く機会が増えた」、企業からは「説明会の参加者が増えてきている」との声を頂戴しております。
              p 今後も株式会社みんせつは、夢と技術を兼ね揃えたメンバーと共に、企業・投資家に喜ばれるサービスを提供し、「企業と投資家の強い絆を生み出す」会社として成長していきます。

            .col-xs-12.col-xl-6
                p.ceo-profile.pt-1.bt-gray.
                  なかやす・ゆうき　UBS証券、クレディ・スイス証券にてアナリストとしてインターネットや中小型・ITサービス・ゲーム等のセクターを調査。産業分析・個別企業の財務分析と同時に、国内外の機関投資家に株式投資の判断材料を提供。2015年Institutional Investor誌アナリストランキング5位（Internet部門）。2015年6月、クレディ・スイス証券を退職。同年6月株式会社みんせつを創業、代表取締役社長に就任。2006年に京都大学大学院工学研究科修士課程を修了。

  #companyMission
    h2 みんせつのミッション
    .bg-white.pt-60.pb-60
      .container
        .row
          .col-xs-12.col-xl-12
            .mission-1.col-xs-12.col-xl-6
              picture
                source(srcset="asset/image/3-1_mission&line_sp.svg" media="(max-width: 576px)")
                source(srcset="asset/image/3-1_mission&line.svg" media="(max-width: 577px)")
                img(src="asset/image/3-1_mission&line.svg")
              h3.mt-20.mb-20 投資家へワクワクする投資機会の創出
              p.
                「株式投資の極意とは、いい銘柄を見つけて、いいタイミングで買い、
                いい会社である限りそれを持ち続けること。これに尽きます。」
                というウォーレンバフェットの言葉があります。<br>
                心から応援したい企業に出会う頻度は決して高くありません。
                だからこそ、発掘した時のワクワク・ドキドキする体験は一生忘れません。<br>
                みんせつは、投資家にとって、中長期で期待を上回る収益性を目指した
                「心から応援したい企業との出会い」を創出します。
            .mission-2.col-xs-12.col-xl-6
              picture
                source(srcset="asset/image/3-2_mission&line_sp.svg" media="(max-width: 576px)")
                source(srcset="asset/image/3-2_mission&line.svg" media="(max-width: 577px)")
                img(src="asset/image/3-2_mission&line.svg")
              h3.mt-20.mb-20 <span class="wr">企業へ新しく</span><span class="wr">投資される機会の創出</span>
              p.
                持続的な企業価値創造は、企業と投資家による協創によって実現されます。
                協創には、相互の利害関係を理解しあった上での質の高い対話・エンゲージメントが必要です。<br>
                みんせつは、企業の中長期を見据えた経営戦略を投資家と対話・共有できる場を提供することで、
                売り買いされるのではなく、「本質的に投資される機会」を創出します。
          .mt-40.col-xs-12
            .col-xs-12
              img(src="asset/image/mission.svg")
  #companyMember
    h2 メンバー
    .bg-white.pt-60.pb-60
      .container.itz-zoom
        ul.people.itz-zoom-content
          li#pos1.person
            a.people-anchor(href='#pos1') 濱本富士子
            img.front(src='asset/image/161029_B_0367_kiri.png')
            img.back(src='asset/image/161029_B_0367_kiri_bw.png')
            .detail.right-pane
              h1 濱本富士子              
              .prof デザイナー
              //ul.acc
              //  li.acc-icon.acc-fb
              //    a(href='#facebook') Facebook
              //  li.acc-icon.acc-tw
              //    a(href='#twitter') Twitter
          li#pos2.person
            a.people-anchor(href='#pos2') 浜名信次
            img.front(src='asset/image/161029_B_0343_kiri.png')
            img.back(src='asset/image/161029_B_0343_kiri_bw.png')
            .detail.right-pane
              h1 浜名信次
              .prof アートディレクター
              //ul.acc
              //  li.acc-icon.acc-fb
              //    a(href='#facebook') Facebook
              //  li.acc-icon.acc-tw
              //    a(href='#twitter') Twitter
          li#pos3.person
            a.people-anchor(href='#pos3') 玉岡 剛
            img.front(src='asset/image/161029_B_0086_kiti.png')
            img.back(src='asset/image/161029_B_0086_kiti_bw.png')
            .detail.right-pane
              h1 玉岡 剛
              .prof 取締役 CFO
              //ul.acc
              //  li.acc-icon.acc-fb
              //    a(href='#facebook') Facebook
              //  li.acc-icon.acc-tw
              //    a(href='#twitter') Twitter
          li#pos4.person
            a.people-anchor(href='#pos4') 中安祐貴
            img.front(src='asset/image/161029_B_0148_kiri.png')
            img.back(src='asset/image/161029_B_0148_kiri_bw.png')
            .detail.right-pane
              h1 中安祐貴
              .prof 代表取締役 CEO
              //ul.acc
              //  li.acc-icon.acc-fb
              //    a(href='#facebook') Facebook
              //  li.acc-icon.acc-tw
              //    a(href='#twitter') Twitter
          li#pos5.person
            a.people-anchor(href='#pos5') 塚田翔也
            img.front(src='asset/image/161029_B_0224_kiri.png')
            img.back(src='asset/image/161029_B_0224_kiri_bw.png')
            .detail.right-pane
              h1 塚田翔也
              .prof 取締役 CTO
              //ul.acc
              //  li.acc-icon.acc-fb
              //    a(href='#facebook') Facebook
              //  li.acc-icon.acc-tw
              //    a(href='#twitter') Twitter
          li#pos6.person
            a.people-anchor(href='#pos6') 宮下 修
            img.front(src='asset/image/161029_B_0197_kiri.png')
            img.back(src='asset/image/161029_B_0197_kiri_bw.png')
            .detail.left-pane
              h1 宮下 修
              .prof アナリスト担当顧問
              //ul.acc
              //  li.acc-icon.acc-fb
              //    a(href='#facebook') Facebook
              //  li.acc-icon.acc-tw
              //    a(href='#twitter') Twitter
          li#pos7.person
            a.people-anchor(href='#pos7') 石井弘之
            img.front(src='asset/image/161029_B_0108_kiri.png')
            img.back(src='asset/image/161029_B_0108_kiri_bw.png')
            .detail.right-pane
              h1 石井弘之
              .prof マーケティング担当顧問
              //ul.acc
              //  li.acc-icon.acc-fb
              //    a(href='#facebook') Facebook
              //  li.acc-icon.acc-tw
              //    a(href='#twitter') Twitter
          li#pos8.person
            a.people-anchor(href='#pos8') 伊藤功馬
            img.front(src='asset/image/161029_B_0050_kiri.png')
            img.back(src='asset/image/161029_B_0050_kiri_bw.png')
            .detail.right-pane
              h1 伊藤功馬
              .prof エンジニア
              //ul.acc
              //  li.acc-icon.acc-fb
              //    a(href='#facebook') Facebook
              //  li.acc-icon.acc-tw
              //    a(href='#twitter') Twitter

  .video