doctype html
html(lang='ja')
  head(prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# blog: http://ogp.me/ns/blog#')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    block title
      meta(name='description', content='みんなの説明会（みんせつ）は、2,300社以上の決算説明会情報を検索できる上場企業IR担当者、機関投資家・証券会社向けの決算説明会情報サイトです。')
      meta(name='author', content='みんなの説明会（みんせつ）')
      title 会社概要 | みんなの説明会（みんせつ）

    link(rel='start', href='https://msetsu.com', title='TOP')
    link(rel='alternate', type='application/rss+xml', title='みんなの説明会（みんせつ） Feed', href='/feed')

    // OGP
    meta(property='og:type', content='website')
    meta(property='og:site_name', content='みんなの説明会（みんせつ）')
    meta(property='og:description', content='みんなの説明会（みんせつ）は、2,300社以上の決算説明会情報を検索できる上場企業IR担当者、機関投資家・証券会社向けの決算説明会情報サイトです。')
    meta(property='og:title', content='みんなの説明会（みんせつ）')
    meta(property='og:url', content='https://msetsu.com/company/')

    // twitter:card
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@minsetsu')
    link(rel='alternate', type='application/rss+xml', title='みんなの説明会（みんせつ） » フィード', href='https://msetsu.com/feed')
    link(rel='alternate', type='application/rss+xml', title='みんなの説明会（みんせつ） » コメントフィード', href='https://msetsu.com/comments/feed')

    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','__gaTracker');
      __gaTracker('create', 'UA-76189563-1', 'auto');
      __gaTracker('set', 'forceSSL', true);
      __gaTracker('send','pageview');


    block meta
      meta(charset="UTF-8")
      meta(name="format-detection", content="telephone=no")

    block viewport
      meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi", crossorigin="anonymous")
    link(rel='stylesheet', href='asset/company/common.css')

    block pageCSS
      link(rel='stylesheet', href='asset/company/index.css')

    link(rel='https://api.w.org/', href='https://msetsu.com/wp-json/')
    link(rel='EditURI', type='application/rsd+xml', title='RSD', href='https://msetsu.com/xmlrpc.php?rsd')
    link(rel='wlwmanifest', type='application/wlwmanifest+xml', href='https://msetsu.com/wp-includes/wlwmanifest.xml')
    link(rel='canonical', href='https://msetsu.com/company')
    link(rel='alternate', type='application/json+oembed', href='https://msetsu.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fmsetsu.com%2Fcompany')
    link(rel='alternate', type='text/xml+oembed', href='https://msetsu.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fmsetsu.com%2Fcompany&format=xml')
    link(rel='apple-touch-icon', sizes='180x180', href='/wp-content/uploads/fbrfg/apple-touch-icon.png')
    link(rel='icon', type='image/png', href='/wp-content/uploads/fbrfg/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/wp-content/uploads/fbrfg/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='/wp-content/uploads/fbrfg/manifest.json')
    link(rel='mask-icon', href='/wp-content/uploads/fbrfg/safari-pinned-tab.svg', color='#5bbad5')
    link(rel='shortcut icon', href='/wp-content/uploads/fbrfg/favicon.ico')

    meta(name='msapplication-config', content='/wp-content/uploads/fbrfg/browserconfig.xml')
    
  body
    #wrap
      //- ヘッダー
      block header
        include _header

      main
        block container

      //- フッター
      block footer
        include _footer

    //- JavaScripts
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js", integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js", integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK", crossorigin="anonymous")

    block pageJS
      script(src='asset/company/index.js')