footer#companyData
  h2.sp-view 会社概要
  .rbb
  .container.pt-40.pb-60
    .row
      .col-xl-10.offset-xl-1.col-xs-12
        table.w-100
          tr.bh-gray
            th.ti 社名
            td 株式会社みんせつ　Minsetsu, Inc.
          tr.bb-gray
            th.ti 本社
            td 〒150-0021 東京都渋谷区恵比寿西2-8-5 高麗羅ビル5F
          tr.bb-gray
            th.ti 代表者
            td 代表取締役 中安 祐貴
          tr.bb-gray
            th.ti 設立
            td 2015年6月
          tr.bb-gray
            th.ti 資本金
            td 2,000万円
          tr.bb-gray
            th.ti 事業内容
            td 「みんなの説明会」の企画・開発・運営
    .row.mt-40
      .offset-xs-3.col-xs-3.offset-xl-5.col-xl-1
        a(href="https://www.facebook.com/minsetsu/", target="_blank")
          img.icon-sns(src="asset/image/4-1_facebook.svg")
      .col-xs-3.col-xl-1
        a(href="https://twitter.com/minsetsu", target="_blank")
          img.icon-sns(src="asset/image/4-2_twitter.svg")
    .row
      .col-xl-10.offset-xl-1.col-xs-12
        a(href="https://www.google.com/maps?ll=35.649072,139.707629&z=16&t=m&hl=en-US&gl=JP&mapclient=embed&q=2+Chome-8-5+Ebisunishi+Shibuya-ku,+T%C5%8Dky%C5%8D-to+150-0021", target="_blank", style="display:block")
          iframe.map.mt-40(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3242.1119973772056!2d139.70531201528163!3d35.649612180201615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b43ebc25f67%3A0xbf639ba4c9c4791!2z44CSMTUwLTAwMjEg5p2x5Lqs6YO95riL6LC35Yy65oG15q-U5a-_6KW_77yS5LiB55uu77yY4oiS77yV!5e0!3m2!1sja!2sjp!4v1478020572511", width="1200", height="480", frameborder="0", style="border:0; pointer-events:none", allowfullscreen)
    .row.mt-60
      .offset-xs-1.col-xs-10.offset-xl-4.col-xl-4
        a(href="https://msetsu.com"): img(src="asset/image/5_minsetsu-logo.svg" style="max-height: 357px")
        a(href="https://app.msetsu.com/login"): img.mt-40(src="asset/image/6-1_login.svg")
        a(href="https://app.msetsu.com/signup"): img.mt-20(src="asset/image/6-2_user-touroku.svg")
