header
  a(href="https://msetsu.com"): img(src="/company/asset/image/logo_company.png", srcset="/company/asset/image/logo_company_2x.png 2x", style="max-width:335px; margin-top: 2px; width: 100%;" alt="株式会社みんせつ")