@function mobileFontSize($font-size) {
    @return 100vw / stripUnits(1070px / $font-size);
}

@function stripUnits($number) {
    @return $number / ($number * 0 + 1);
}

@mixin header($font-size, $factor, $spacing) {
    font-size: $font-size;
    line-height: $font-size * $factor;
    height: $font-size * $factor;
    letter-spacing: $spacing;
}

// 画面サイズによって可変のヘッダーコンポーネントを作る
// $font-size-small, $font-size-medium, $font-size-large: 各サイズでのフォントサイズ(指定しない場合は同じ値を繰り返して指定)
// $factor: フォントサイズに対するボックスの高さの倍率
@mixin dynamicSizeHeader($font-size-small: 1em, $font-size-medium: 1em, $font-size-large: 1em, $factor: 1, $ls: 0.2em, $lsl: 0.4em) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    ;
    vertical-align: middle;
    font-weight: normal;
    color: white;
    text-align: center;
    margin: 0 auto;
    @if $font-size-small==$font-size-medium and $font-size-medium==$font-size-large {
        @include header($font-size-small, $factor, $ls);
    }
    @else {
        @if $font-size-small !=$font-size-medium {
            @media #{$sm} {
                @include header($font-size-small, $factor, $ls);
            }
        }
        @media #{$md} {
            @include header($font-size-medium, $factor, $ls);
        }
        @if $font-size-large !=$font-size-medium {
            @media #{$xl} {
                @include header($font-size-large, $factor, $lsl);
            }
        }
    }
}