@import 'mixins';
$sp-width: 576px;
$pad-width: 1069px;
// でかいサイズ用のMediaQuery(PC)
$xl: "(min-width: #{$pad-width + 1px})";
// 中サイズ用のMediaQuery(PC, Pad, スマホ横)
$md: "(min-width: #{$sp-width + 1px})";
// スマホ用ポートレート用のMediaQuery
$sm: "(min-width: 0)";
$large-font-size: 70px;
$large-font-size-mobile: mobileFontSize($large-font-size);
$semi-large-font-size: 54px;
$semi-large-font-size-mobile: mobileFontSize($semi-large-font-size);