@import 'mixins'

$sp-width: 576px
$pc: "(min-width: 576px)"

$large-font-size: 70px
$large-font-size-mobile: mobileFontSize($large-font-size)

$semi-large-font-size: 54px
$semi-large-font-size-mobile: mobileFontSize($semi-large-font-size)
