@import "variables";

.memberList {
  padding: 0 16px;

  @media #{$md} {
    padding: 0;
  }
}

.member {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;

  @media #{$md} {
    flex-direction: row;
  }

  .photo {
    width: 234px;
    height: 234px;
    margin: 0 auto 20px;

    @media #{$md} {
      margin: 0 23px 0 0;
    }
  }

  .name {
    line-height: 1;
    font-size: 1.5rem;
  }

  .title {
    line-height: 1;
    color: #7e8b98;
    font-size: 1.125rem;
    margin-bottom: 20px;
  }

  .description {
    p {
      margin: 0;
    }
  }
}
