@import 'modules/member'

$sp-width: 576px
$pc: "(min-width: 576px)"

body
  margin: 0
  padding: 0
  /*  IE8以下の代替の背景画像  */
  background: url(../image/bg.jpg) #333
  background-attachment: fixed
  background-size: cover

.bg-white
  background: white

$header-height: 50px

header
  margin: 0
  padding: 0
  height: $header-height
  background-color: #e6e6ea

// メインビジュアル
// コピー部分とグローバルメニューのアイコンが1画面に表示されるくらいのサイズにする

$copy-height: 25vh
$copy-margin: 60px
$copy-ja-margin: 25px

// 画像のアス比
$image-container-width: (300px + 22px * 2)
$image-container-height: 81px + 50px + $copy-margin
$image-container-aspect: $image-container-height / $image-container-width  
$image-container-height: 100vw * #{$image-container-aspect}
$menu-visible-height: 125px
$menu-height: 250px

#mainVisual
  position: relative
  overflow: hidden
  margin-top: -1 * $header-height + $copy-ja-margin
  padding-top: $copy-height // 画面の4/1程度から表示スタート
  height: calc(100vh + #{$menu-visible-height})
  min-height: calc(#{$copy-height} + #{$image-container-height} + #{$menu-height})
  
  h1
    padding: 0 22px
    margin: 0

  .copy
    display: block
    margin-right: auto
    margin-left: auto
  .copy-jp
    max-width: 980px
  .copy-en
    margin-top: $copy-margin
    max-width: 640px

  // グローバルメニューはコンテナの下から配置
  $menu-padding-pc: 100px
  $menu-padding-mobile: 50px
  $menu-item-height-pc: $menu-height - $menu-padding-pc
  $menu-item-height-mobile: 25vw
  
  .g-nav
    position: absolute
    bottom: 0
    width: 100%
    padding-bottom: $menu-padding-mobile    
    @media #{$pc}
      height: $menu-height
      padding-bottom: $menu-padding-pc
    background-color: white
  .g-nav-list
    background-color: #FF4736
    overflow: hidden
    height: $menu-item-height-mobile
    @media #{$pc}
      height: $menu-item-height-pc
  .g-nav-btn
    text-align: center
    border-left: 4px solid #FF0012
    line-height: $menu-item-height-mobile
    @media #{$pc}
      line-height: $menu-item-height-pc
    &:last-child
      border-right: 4px solid #FF0012

$large-font-size-mobile: 100vw / (1200 / 54)

#companyCEO
  h2
    height: 120px
    line-height: 120px
    font-size: $large-font-size-mobile
    letter-spacing: 0.2em
    @media #{$pc}
      font-size: 54px   
      letter-spacing: 0.5em 
    vertical-align: middle
    font-weight: normal
    color: white
    text-align: center
    margin: 0 auto
  .img-ceo
    max-width: 100%
  .company-story
    line-height: 1.65em
  .ceo-name
    padding: 10px 0
  .ceo-name-english
    font-size: 50%
    letter-spacing: 0.4em
  .ceo-profile
    font-size: 90%
    line-height: 1.7em
  .caption-ceo
    padding-top: 20px
    padding-left: 5px
    padding-right: 5px

#companyMission
  h2
    height: 120px
    line-height: 120px
    font-size: $large-font-size-mobile
    letter-spacing: 0.2em
    @media #{$pc}
      font-size: 54px
      letter-spacing: 0.5em    
    vertical-align: middle
    font-weight: normal
    color: white
    text-align: center
    margin: 0 auto
  .mission-1, .mission-2
    line-height: 1.7em

#companyMember
  h2
    height: 120px
    line-height: 120px
    font-size: $large-font-size-mobile
    letter-spacing: 0.2em
    @media #{$pc}
      font-size: 54px    
      letter-spacing: 0.5em
    vertical-align: middle
    font-weight: normal
    color: white
    text-align: center
    margin: 0 auto

#companyData
  padding-top: 40px
  padding-bottom: 40px
  background-color: #e6e6ea
  h2
    height: 80px
    line-height: 80px
    font-size: $large-font-size-mobile
    letter-spacing: 0.2em
    @media #{$pc}
      font-size: 54px   
      letter-spacing: 0.3em 
    vertical-align: middle
    font-weight: normal
    color: #f33
    text-align: center
    margin: 0 auto
  .rbb
    margin: 0 auto
    width: 160px
    border-bottom: 2px solid #f33
  .icon-sns
    min-width: 100%
    &:hover
      opacity: 0.6
      cursor: pointer
  .map
    max-width: 100%

.video
  /*  動画を背景に設定するスタイルシート  */
  position: fixed
  top: 0
  right: 0
  z-index: -100
  min-width: 100%
  min-height: 100%
  width: auto
  height: 100vh
  background-image: url(../image/bg.jpg)
  background-position: center

  #videoBackground
    width: auto
    height: 100vh
