@import 'modules/variables'
@import 'modules/member'

#companyMission
  h2
    height: 120px
    line-height: 120px
    font-size: $large-font-size-mobile
    letter-spacing: 0.2em
    @media #{$pc}
      font-size: 54px
      letter-spacing: 0.5em    
    vertical-align: middle
    font-weight: normal
    color: white
    text-align: center
    margin: 0 auto
  .mission-1, .mission-2
    line-height: 1.7em

#companyMember
  h2
    height: 120px
    line-height: 120px
    font-size: $large-font-size-mobile
    letter-spacing: 0.2em
    @media #{$pc}
      font-size: 54px    
      letter-spacing: 0.5em
    vertical-align: middle
    font-weight: normal
    color: white
    text-align: center
    margin: 0 auto

#companyData
  padding-top: 40px
  padding-bottom: 40px
  background-color: #e6e6ea
  h2
    height: 80px
    line-height: 80px
    font-size: $large-font-size-mobile
    letter-spacing: 0.2em
    @media #{$pc}
      font-size: 54px   
      letter-spacing: 0.3em 
    vertical-align: middle
    font-weight: normal
    color: #f33
    text-align: center
    margin: 0 auto
  .rbb
    margin: 0 auto
    width: 160px
    border-bottom: 2px solid #f33
  .icon-sns
    min-width: 100%
    &:hover
      opacity: 0.6
      cursor: pointer
  .map
    max-width: 100%

  .ti
    white-space: nowrap
    width: 5em
  table
    font-size: 0.8rem
    line-height: 2.5em

    @media #{$pc}
      font-size: 1rem
      line-height: 3em